<div class="side">
	<div class="side-person">
		<img src="/images/photo.jpg">
		<h1>后台管理</h1>
		<p>爱生活、爱文学的前端程序员</p>
	</div>
	<div class="nav">
		<ul class="first-rank">
			<li><a href="/admin"><h2>首页</h2></a></li>
			<li><a href="/admin/write"><h2>写博客</h2></a></li>
			<li><a href="/admin/blogmanage"><h2>博客管理</h2></a></li>
			<li><a href="/admin/productmanage"><h2>作品管理</h2></a></li>
		</ul>
	</div>
</div>