$mobile-header-height: 60px;

// index page main-blogs
.main {
	.main-blogs {
		& > div {
			width: 100%;
			box-sizing: border-box;
		}
		.blogSection {
			max-height: 500px;
			overflow: hidden;
			border-bottom: 1px solid #ccc;
			padding-top: 25px;
			padding-bottom: 25px;
			span {
				display: flex;
				justify-content: space-between;
			}
			.title {
				font-size: 1.8em;
				color: #333;
				font-weight: normal;
				line-height: 40px;
				margin-bottom: 10px;
			}

			.descr {
				color: #666;
				font-size: 1.2em;
				line-height: 30px;
			}

			span {
				display: flex;
				justify-content: space-between;
				margin-top: 20px;

				.time {
					color: #333;
					font-weight: 300;
				}
				.read {
					color: #7bbfea;
					margin-right: 5px;
				}
			}
		}
		.blog-nav {
			display: block;
			height: 60px;
			line-height: 60px;
			

			a {
				color: #7bbfea;
			}
			.prevPage {
				float: left;
			}
			.nextPage {
				float: right;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.main {
		width: 100%;
		height: 100%;
		flex:1;
		margin-left: 0;
		margin-top: $mobile-header-height;

		.main-blogs .blogSection {
			padding-top: 15px;
			padding-bottom: 15px;

			span {
				flex-direction: column;

				.read {
					align-self: flex-end;
					margin-top: 10px;
				}
			}
		}
	}
	.move-right {
		margin-left: 80%;
	}
}


// article page 
.article {
	width: 100%;
	padding-top: 20px;
	margin-bottom: 20px;

	.title {
		font-weight: normal;
		font-size: 1.8em;
		color: #444;
		line-height: 45px;
		min-height: 45px;
		max-height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.time {
		font-weight: 300;
		line-height: 30px;
		color:#555;
	}
	.content {
		width: 100%;
		min-height: 500px;
		margin-top: 10px;
		padding-top: 20px;
		border-top: 1px solid #ccc;
		color: #555;
		font-size: 1.1em;
	}
	#markdown {
		width: 100%;
		min-height: 500px;
	}
}

.category {
	width: 100%;
	margin-bottom: 20px;

	.category-title {
		height: 60px;
		line-height: 60px;
		margin-top: 20px;
		font-size: 1.5em;
		font-weight: normal;
		color: #333;
	}

	.category-intro {
		font-size: 0.1em;
		line-height: 30px;
		height: 30px;
		margin-bottom: 20px;
		color: #666;
	}

	.blog-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-left: 1.5em;
		box-sizing: border-box;

		li {
			min-height: 30px;
			line-height: 30px;
			height: auto;
			width: 100%;
			
			a {

				color: #426ab3;
				&:hover {
					text-decoration: underline;
				}
			}
			font {
				color: #666;
			}
		}
	}

}

@media screen and (max-width: 900px) {
	
}