<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>博勋的博客</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/markdown.css">
</head>
<body>
<div id="wrapper">
	<div id="root">
		<% include include/mobile-header %> 
		<% include include/side %>
		<div class="main">
			<div class="article">
				<h1 class="title"><%=title%></h1>
				<p class="time">写于【<%=location%>】 <%=date%></p>
				<div class="content" id="markdown">
					<%- article%>
				</div>
			</div>
			<% include include/footer %>
		</div>
	</div>
</div>
</body>
</html>