.main .main-blogs > div {
  width: 100%;
  box-sizing: border-box; }
.main .main-blogs .blogSection {
  max-height: 500px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-top: 25px;
  padding-bottom: 25px; }
  .main .main-blogs .blogSection span {
    display: flex;
    justify-content: space-between; }
  .main .main-blogs .blogSection .title {
    font-size: 1.8em;
    color: #333;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 10px; }
  .main .main-blogs .blogSection .descr {
    color: #666;
    font-size: 1.2em;
    line-height: 30px; }
  .main .main-blogs .blogSection span {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .main .main-blogs .blogSection span .time {
      color: #333;
      font-weight: 300; }
    .main .main-blogs .blogSection span .read {
      color: #7bbfea;
      margin-right: 5px; }
.main .main-blogs .blog-nav {
  display: block;
  height: 60px;
  line-height: 60px; }
  .main .main-blogs .blog-nav a {
    color: #7bbfea; }
  .main .main-blogs .blog-nav .prevPage {
    float: left; }
  .main .main-blogs .blog-nav .nextPage {
    float: right; }

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
    flex: 1;
    margin-left: 0;
    margin-top: 60px; }
    .main .main-blogs .blogSection {
      padding-top: 15px;
      padding-bottom: 15px; }
      .main .main-blogs .blogSection span {
        flex-direction: column; }
        .main .main-blogs .blogSection span .read {
          align-self: flex-end;
          margin-top: 10px; }

  .move-right {
    margin-left: 80%; } }
.article {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px; }
  .article .title {
    font-weight: normal;
    font-size: 1.8em;
    color: #444;
    line-height: 45px;
    min-height: 45px;
    max-height: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  .article .time {
    font-weight: 300;
    line-height: 30px;
    color: #555; }
  .article .content {
    width: 100%;
    min-height: 500px;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #555;
    font-size: 1.1em; }
  .article #markdown {
    width: 100%;
    min-height: 500px; }

.category {
  width: 100%;
  margin-bottom: 20px; }
  .category .category-title {
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: normal;
    color: #333; }
  .category .category-intro {
    font-size: 0.1em;
    line-height: 30px;
    height: 30px;
    margin-bottom: 20px;
    color: #666; }
  .category .blog-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    box-sizing: border-box; }
    .category .blog-list li {
      min-height: 30px;
      line-height: 30px;
      height: auto;
      width: 100%; }
      .category .blog-list li a {
        color: #426ab3; }
        .category .blog-list li a:hover {
          text-decoration: underline; }
      .category .blog-list li font {
        color: #666; }

/*# sourceMappingURL=index.css.map */
