<div class="side">
	<div class="side-person">
		<img src="/images/photo.jpg">
		<h1>博勋的博客</h1>
		<p>爱生活、爱文学的前端程序员</p>
	</div>
	<div class="nav">
		<ul class="first-rank">
			<li><a href="/index"><h2>首页</h2></a></li>
			<li>
				<a href="/category/all"><h2>博客分类</h2></a>
				<ul class="second-rank">
					<li><a href="/category/note">读书笔记</a></li>
					<li><a href="/category/developer">前端开发者</a></li>
					<li><a href="/category/javascript">JavaScript</a></li>
					<li><a href="/category/computer">计算机基础</a></li>
					<li><a href="/category/somewhat">杂七杂八</a></li>
					<!-- <li><a href="/category/translation">英文翻译</a></li> -->
					<li><a href="/category/diary">随想</a></li>
				</ul>
			</li>
			<!-- <li><a href="/product"><h2>作品展示</h2></a></li> -->
			<li><a href="https://github.com/xbx0119"><h2>Github</h2></a></li>
			<!-- <li><a href="/links"><h2>友情链接</h2></a></li> -->
			<li><a href="/about"><h2>关于我</h2></a></li>
		</ul>
	</div>
</div>